/*team section*/

.team {
    padding-bottom: 60px;
}
.team h2 {
    font-size: 90px;
    color: #42b3e5;
    margin-top: 50px;
    margin-bottom: 0;
}
.team h4 {
    font-size: 24px;
    color: #737373;
    margin-top: 0;
    margin-bottom: 45px;
}
.single-member {
    margin: 0;
    padding: 0;
}
/* .person img { */
    /* width: 100%; */

.person-detail {
    padding: 10px;
    background: #3a9cc8;
    position: relative;
    transition: all .7s ease 0s;
    -webkit-transition: all .7s ease 0s;
    -moz-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
    -ms-transition: all .7s ease 0s;
}
.arrow-top {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #3ba0cc;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    bottom: -10px;
    left: 46%;
    transition: all .7s ease 0s;
    -webkit-transition: all .7s ease 0s;
    -moz-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
    -ms-transition: all .7s ease 0s;
}
.arrow-bottom {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #3ba0cc;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: -9px;
    left: 46%;
    transition: all .7s ease 0s;
    -webkit-transition: all .7s ease 0s;
    -moz-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
    -ms-transition: all .7s ease 0s;
}
.person-detail h3 {
    font-size: 30px;
    color: #fff;
}
.person-detail p {
    font-size: 13px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.single-member:hover .person-detail {
    background: #2a2a2a;
}
.single-member:hover .arrow-top {
    background: #2a2a2a;
}
.single-member:hover .arrow-bottom {
    background: #2a2a2a;
}

/*contact section*/

.contact-caption {
    background: #3a9dca;
}
.contact-heading h2 {
    color: #fff;
    font-size: 90px;
}
.contact-info {
    padding-left: 40px;
}
.contact-info h3 {
    padding-left: 0;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #13849c;
    padding-bottom: 12px;
    margin-bottom: 0;
}
.contact-form h3 {
    padding-left: 0;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #13849c;
    padding-bottom: 12px;
    margin-bottom: 0;
}
.contact-info ul {
    margin: 0;
    padding: 0;
}
.contact-info ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
}
.contact-info i.fa {
    font-size: 16px;
    padding-right: 12px;
    width: 25px;
    height: 38px;
}
.contact-info ul li span {
    font-weight: bold;
}
.contact-form input {
    width: 100%;
    height: 40px;
    background: #fff;
    font-size: 13px;
    color: #084a5c;
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
    border: 0;
    margin-bottom: 12px;
}
.contact-form textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
    width: 100%;
    height: 140px;
    border: 0;
    margin-bottom: 12px;
}
.info-detail {
    border-top: 1px solid #53cde5;
    padding-top: 15px;
}
.form {
    border-top: 1px solid #53cde5;
    padding-top: 15px;
    text-align: right;
}
.contact-form input.submit-btn {
    width: 180px;
    height: 50px;
    float: right;
    font-size: 24px;
    color: #fff;
    background: url(../img/btn-bg.jpg);
    background-repeat: no-repeat;
    padding: 0;
    font-family: 'BenchNine', sans-serif;
    font-weight: bold;
}
.contact-form {
    padding-right: 40px;
}

/*gmap*/

#map {
    height: 830px;
}
.map {
    position: relative;
    overflow: hidden;
}
.contact {
    position: absolute;
    width: 100%;
    height: 830px;
    margin-top: 0px;
    left: 0;
    margin-top: -830px;
    background: rgba(0, 0, 0, 0.51);
}
.contact-caption {
    margin-top: 120px;
}

/*footer*/

.footer-para {
    margin: 0;
    padding: 0;
}
.footer p {
    font-size: 12px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 25px 0;
}
.footer a i.fa {
    font-size: 24px;
    color: #b1b1b1;
    padding: 22px 10px;
}
.footer a i.fa:hover {
    color: #42b3e5;
}
.carousel-inner {
    position: relative;
}
